---
layout: default
title: UW Prosocial Computing Group
---

{% assign areas = site.data.research-area.area %}
{% assign news = site.data.news.list %}

<div class="container py-3">
    <div class="row">
        <div class="col-12 col-md-4 align-self-center mb-4 mb-md-0">
            <img src="{{ '/assets/images/main/group-paintball.jpg' | relative_url }}" alt="" style="height: auto; width: 100%;">
            <p class="mt-2" style="font-size: 0.8rem; font-weight: 400 !important; text-align: center;">A post-paintball group moment (April 2022)</p>
        </div>
        <div class="col-12 col-md-8 align-self-center">
            <p style="font-weight: 300 !important">Prosocial computing group at the <a href="https://uw.edu">University of Washington</a> studies, designs, and builds technologies that foster and support positive and prosocial behaviors – to benefit individuals and society as a whole.
            <br><br>Through our work, we seek to contribute to our fundamental understanding of people, as well as develop design guidelines and tools to facilitate technology design.</p>
        </div>
    </div>
</div>
<div class="container">
    <p style="font-weight: 500 !important; text-transform: uppercase;">Research area</p>
    <div class="row mt-4">
        {% for area in areas limit: 4 %}
        <div class="col-6 col-md-3 mb-3 mb-md-0 align-self-center">
            <img src="{{ '/assets/images/research_area/' | append: area.image | relative_url }}" alt="" style="height: auto; width: 100%;">
            <p class="mt-1 mt-md-2" style="font-size: .95rem; font-weight: 400 !important; text-align: center;">{{ area.title }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'research' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
    </div>
</div>
<div class="container pb-5">
    <p style="font-weight: 500 !important; text-transform: uppercase;">News</p>
    <div class="row mt-4">
        {% for new in news limit: 8 %}
        <div class="col-12 col-sm-6">
            <p class="mb-0" style="font-size: 1rem; font-weight: 400 !important;">{{ new.title }}</p>
            <p class="mb-1" style="font-size: .85rem; font-weight: 200 !important;">{{ new.date | date_to_long_string }}</p>
            <p style="font-size: .95rem; font-weight: 300 !important;">{{ new.description }}</p>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'news' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
    </div>
</div>
