---
layout: default
title: UW Prosocial Computing Group
---

{% assign areas = site.data.research-area.area %}
{% assign news = site.data.news.list %}
{% assign projects = site.data.project.project %}

<div class="container py-3">
    <div class="row">
        <div class="col-12 col-sm-5 col-lg-4 col-xl-4 align-self-center pt-0 pt-md-4 mb-4 mb-md-0">
            <img src="{{ '/assets/images/main/group_photo.jpg' | relative_url }}" alt="" style="height: auto; width: 100%; border-radius: 15px;">
            <p class="mt-2" style="font-size: 0.9rem; font-weight: 400 !important; text-align: center;">Prosocial @ CHI 2024</p>
        </div>
        <div class="col-12 col-sm-7 col-lg-8 col-xl-8 align-self-center">
            <p class="paragraph">Prosocial computing group at the <a href="https://uw.edu">University of Washington</a> studies, designs, and builds technologies that foster and support positive and prosocial behaviors – to benefit individuals and society as a whole.</p>
            <p class="paragraph">We use theories from psychology, communication, and economics to inform our application of generative AI, aimed at understanding and fostering prosocial behavior across diverse research domains. Through our work, we seek to contribute to our fundamental understanding of people, as well as develop design guidelines and tools to facilitate technology design.</p>
            <p class="paragraph">Our works have been supported by Google, Microsoft, National Science Foundation, National Institute of Health, and Center for Disease Control and Prevention,</p>
        </div>
    </div>
</div>
<div class="container">
    <p style="font-weight: 500 !important; text-transform: uppercase;">Selected works</p>
	<div class="scroller">
		<div class="scroller-inner">
            {% for project in projects %}
			<div class="paper-container non-select">
                <img src="{{ '/assets/images/project/' | append: project.image | relative_url }}" alt="" style="height: auto; width: 100%;">
                <p class="pt-2 mt-md-2" style="font-size: .9rem; font-weight: 400 !important; line-height: 1.1rem; text-align: center;">{{ project.title }}{% if project.venue %}<span class="project-venue">{{ project.venue }}</span>{% endif %}</p>
			</div>
            {% endfor %}
		</div>
	</div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'publication' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
    </div>
</div>
<div class="container">
    <p style="font-weight: 500 !important; text-transform: uppercase;">Research area</p>
    <div class="row d-flex justify-content-center mt-4">
        {% for area in areas limit: 4 %}
        <div class="col-6 col-md-3 mb-3 mb-md-0 align-self-center">
            <img src="{{ '/assets/images/research_area/' | append: area.image | relative_url }}" alt="" style="height: auto; width: 100%;">
            <p class="mt-1 mt-md-2" style="font-size: .95rem; font-weight: 400 !important; text-align: center;">{{ area.title }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'research' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
    </div>
</div>
<div class="container pb-5">
    <p style="font-weight: 500 !important; text-transform: uppercase;">News</p>
    <div class="row mt-4">
        {% for new in news limit: 8 %}
        <div class="col-12 col-sm-6">
            <p class="mb-0" style="font-size: 1rem; font-weight: 400 !important;">{{ new.title }}</p>
            <p class="mb-1" style="font-size: .85rem; font-weight: 200 !important;">{{ new.date | date: "%b %-d, %Y" }}</p>
            <p style="font-size: .95rem; font-weight: 300 !important;">{{ new.description }}</p>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'news' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
    </div>
</div>

<script>
	function addAnimation(scrollers) {
		scrollers.forEach((scroller) => {
			scroller.setAttribute("data-animated", true);

			const scrollerInner = scroller.querySelector(".scroller-inner");
			const scrollerContent = Array.from(scrollerInner.children);
            
			scrollerContent.forEach((item) => {
				const duplicatedItem = item.cloneNode(true);
				duplicatedItem.setAttribute("aria-hidden", true);
				scrollerInner.appendChild(duplicatedItem);
			});
		});
	}
	const scrollers = document.querySelectorAll(".scroller");
	addAnimation(scrollers);
</script>
