<footer>
  <div class="footer-inner row my-0 mx-auto">
    <div class="col-12 col-sm-4 col-md-3 mb-4 mb-sm-0">
      <img src="{{ '/assets/images/main/logo-white.svg' | relative_url }}" alt="" style="height: 50px; width: auto; margin-top: .25rem;">
    </div>
    <div class="col-12 col-sm-8 col-md-9">
      <p style="font-weight: 100 !important">328 Sieg Hall<br>Seattle, WA 98195<br>
        United States</p>
      <a href="https://uw.edu/">
        <img src="{{ '/assets/images/main/uw-logo.svg' | relative_url }}" alt="" style="height: auto; width: 200px;">
      </a>
    </div>
  </div>
</footer>