---
layout: default
title: Design Resources
---

{% assign resources = site.data.resources.resource %}

<div class="container py-4">
    <p style="font-weight: 500 !important; text-transform: uppercase;">Design Resources</p>
    {% for resource in resources %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="row mt-5">
        <div class="col-12 col-md-4 mb-3 mb-md-0 align-self-center">
            <img src="{{ '/assets/images/resources/' | append: resource.image | relative_url }}" alt="" style="height: auto; width: 100%;">
        </div>
        <div class="col-12 col-md-8 mb-3 mb-md-0 align-self-center">
            <p class="mt-2" style="font-size: 1rem; font-weight: 500 !important;">{{ resource.title }}</p>
            <p class="mt-2" style="font-size: 1rem;">{{ resource.description }}</p>
            <a href="{{ '/resources/' | append:resource.project_path }}" style="font-size: .95rem; font-weight: 400 !important;">> View resource</a>
        </div>
    </div>
    {% else %}
    <div class="row mt-5">
        <div class="col-12 col-md-4 mb-3 mb-md-0 order-md-2 align-self-center">
            <img src="{{ '/assets/images/resources/' | append: resource.image | relative_url }}" alt="" style="height: auto; width: 100%;">
        </div>
        <div class="col-12 col-md-8 mb-3 mb-md-0 order-md-1 align-self-center">
            <p class="mt-2" style="font-size: 1rem; font-weight: 500 !important;">{{ resource.title }}</p>
            <p class="mt-2" style="font-size: 1rem;">{{ resource.description }}</p>
            <a href="{{ '/resources/' | append:resource.project_path }}" style="font-size: .95rem; font-weight: 400 !important;">> View resource</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>