---
layout: default
baseurl: /publication
title: Publication
---

{% assign publications = site.data.publication.publication %}

<div class="container py-4">
    <div class="row">
        <div class="col-md-4">
            <p style="font-size: 1.1rem; font-weight: 500 !important">PUBLICATION</p>
        </div>
        <div class="col-md-8 text-right">
            <a href="" style="font-weight: 500; font-size: .95rem !important; text-decoration: underline !important;">All</a>
            <a href="" style="font-size: .95rem !important" class="ml-3">Behavior change</a>
            <a href="" style="font-size: .95rem !important" class="ml-3">CAs</a>
            <a href="" style="font-size: .95rem !important" class="ml-3">Reflection</a>
            <a href="" style="font-size: .95rem !important" class="ml-3">Transitional research</a>
        </div>
    </div>
    <div class="row mt-4">
        {% for pub in publications %}
        <div class="col-12">
            <p class="mb-2" style="font-size: 1rem; font-weight: 400 !important;">{{ pub.title }}</p>
            <p class="mb-2" style="font-size: .95rem; font-weight: 200 !important;">{{ pub.authors }}</p>
            <p class="mb-2" style="font-size: .95rem; font-weight: 300 !important;">{{ pub.venue_short }}{%if pub.venue_long %}: {{ pub.venue_long }}{% endif %}</p>
            {% if pub.award %}
            <p class="mb-2" style="font-size: .95rem; font-weight: 300 !important;"><i class="fa-solid fa-medal"></i>&nbsp;&nbsp;{{ pub.award }}</p>
            {% endif %}
            <p style="font-size: .9rem; font-weight: 300 !important;">
                {% if pub.pdf %}
                <a href="{{ '/assets/pdf/publications/' | append: pub.pdf | relative_url }}"><i class="fa-solid fa-file"></i>&nbsp;&nbsp;PDF</a>&nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
                {% if pub.video %}
                <a href="{{ pub.video }}"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;Video</a>&nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
                {% if pub.slides %}
                <a href="{{ pub.slides }}"><i class="fa-solid fa-file-powerpoint"></i>&nbsp;&nbsp;Slides</a>&nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
            </p>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>